.header__title{
    font-family: 'Inter', sans-serif;
    font-size: 18px;
    line-height: 22px;
    font-style: 'Medium';
}

@media screen and (max-width:660px) {
    .header__title{
       
    }
}