.popup__form{
  display: flex;
  flex-direction: column;
  border: none;
  background-color: #ffffff;
  border-radius: 10px;
  min-width: 430px;
  position: relative;
}

@media screen and (max-width:660px){
  .popup__form{
    min-width: 282px;
    margin: 0 auto;
  }
}  