.header{
  border-bottom: 1px solid rgba(84, 84, 84, 0.7);
  padding-bottom: 41px;
  padding-top: 43px; 
}

@media screen and (max-width:590px){
  .header{
    padding-bottom: 32px;
    padding-top: 28px;
  }
}  